*{
    margin: 0;
    padding: 0;
}


li,ul{
    list-style: none;
}

.amisu{
    height: 150px;
}


a{
    text-decoration: none;
    color: black;
}

header{
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;   
    border-bottom: 2px rgba(128, 128, 128, 0.421) solid;   

}

.gnb ul{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.prof:hover{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.255);
    color: white;

}
.prof{
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
}
.nav{
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px 25px ; 
    transition:0.3s;
}

.nav:hover{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.255);
    color: white;
}
.profmain > ul > li > img {
    width: 50px;
    height: 50px;
    transition: 0.3s;
    border-radius: 50%;
}

#prof1 img{
    height: 50px;
    border-radius: 50%;
}


#prof1 img:hover {
    transition: 0.3s;
    background-color: rgb(148, 148, 148);
}

.profmain {
    border-radius: 5px;
    width: 250px;
    height: 250px;
    line-height: 55px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    right: 0;
    top: 11%;
    opacity: 0;
    visibility: hidden;
    transition:  0.3s;
}

.profmain ul{
    width: 250px;
    display: flex;
    flex-direction: column;
}

.profile:hover .profmain {
    opacity: 1;
    visibility: visible;
}
.prof_btn {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.3s;
}
.prof_btn:hover {
    background-color: rgba(173, 173, 173, 0.37);
    transition: 0.3s;
}


.chat-about{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.chat_prof{
    background-color: #f2fdd4;
    height: 900px;
}

.chat_prof img{
    border-radius: 50%;
    height: 150px;
}

.about{
    font-size: 50px;
    width: 80%;
    background-color: white;
    border: 2px solid black;
    padding: 40px;
    border-radius: 10px;
}



.submit{
    border: none;
    display: flex;
    justify-content: space-around;
    margin-top: 29%;
}


.chatting{
    border-radius: 10px;
    margin: 20px;
    padding: 40px;
    font-size: 45px;
}
.chatting:nth-child(1){
    flex-grow: 5;
}

.chatting:nth-child(2){
    flex-grow: 1;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(247, 247, 199);
    cursor: pointer;
}

.chatting:nth-child(2):hover{
    background-color: #e2ff92;
}