*{
    margin: 0;
    padding: 0;
}

body{
    height: 1000px;
}

li,ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color: gray;
    display: flex;
    justify-content: space-between;   
}

.gnb ul{
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}


.prof{
    background-image: url(../images/faker-2023.jpg);
    background-size: cover;
}

.main{
    background-color: #A1B4ED;
    height: 500px;
    width: 900px;
    margin: 50px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.main div{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 300px;
    border-radius: 20px;
    padding: 20px;
}

.about{
    background-color: white;
    width: 300px;
    height: 250px;
    border-radius: 5px;
    text-align: center;
}

.about ul li{
    font-size: 20px;
}
.select{
    display: flex;
    justify-content: center;
}

.select a{
    width: 150px;
    height: 150px;
    background-color: #A1B4ED;
    margin: auto 100px;
    text-align: center;
    line-height: 150px;
    border-radius: 50px;
    cursor: pointer;
}