*{
    margin: 0;
    padding: 0;
}

body{
    height: 1000px;
}

li,ul{
    list-style: none;
}

.amisu{
    height: 150px;
}


a{
    text-decoration: none;
    color: black;
}

header{
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;   
    border-bottom: 2px rgba(128, 128, 128, 0.421) solid;   

}

.gnb ul{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.prof:hover{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.255);
    color: white;

}
.prof{
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
}
.nav{
    border-radius: 5px;
    padding: 30px;
    transition:0.3s;
}

.nav:hover{
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.255);
    color: white;
}


.king{
    background-image: url(../images/faker-2023.jpg);
    background-size: cover;
}

.main{
    background-color: #A1B4ED;
    height: 500px;
    width: 900px;
    margin: 50px auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.main div{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 300px;
    border-radius: 20px;
    padding: 20px;
}

.about{
    background-color: white;
    width: 300px;
    height: 250px;
    border-radius: 5px;
    text-align: center;
}

.about ul li{
    font-size: 20px;
}
.select{
    display: flex;
    justify-content: center;
}

.select a{
    width: 150px;
    height: 150px;
    margin: auto 100px;
    background-color: rgb(185, 185, 185);
    text-align: center;
    line-height: 150px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.select a:hover{
    background-color: #a1b4ed60;
    transform: scale(1.03);
    transition: 0.3s;
}



#prof{
    width: 0;
    height: 0;
    padding: 0;
}

#prof img{
    width: 50px;
    height: 50px;
    transition: 0.3s;
    border-radius: 50%;
}

#prof img:hover{
    transition: 0.3s;
    background-color: rgb(148, 148, 148);
}

.profmain {
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    border-radius: 5px;
    right: 0;
    top: 8%;
    text-align: center;
    line-height: 40px;
    height: 250px;
    width: 250px;
    cursor: default;
    background-color: white;
}

#prof:hover .profmain {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
}
